html {
  font-size: 15px;
}

body{
  font-family: verdana; 
  margin: 0; 
}

/* #main-layout{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 
  "n" 
  "c";
} */

#content {
  grid-area: c;
}
#nav{
  grid-area: n;
}