#tags {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 12px 150px;
    gap: 30px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-bottom: 25px;
}

#tags .-item{
    display: flex;
    height: 25px;
    padding: 5px 12px;
    background-color: #f2f2f2;
    color: #000;
    align-items: center;
    border-radius: 15px;
    font-size: 13px;
}
#tags .-item:hover{
    background-color: #e5e5e5;
}
#tags .-item.-active{
    background-color: #000 !important;
    color: #fff;
}