#nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
    max-width: 1000px; /* กำหนดขนาดสูงสุด */
    margin: 0 auto; /* จัด nav ให้อยู่ตรงกลางของหน้าจอ */
}
/* #nav .-brand {
    display: grid;
    grid-template-columns:  auto;
    align-items: center;
    height: 100%;
}
#nav .-ham {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    background-color: #fff;
}
#nav .-ham:hover {
    background-color: #f2f2f2;
}
#nav .-ham img {
    width: 30px;
    height: 30px;
    margin: auto;
} */
#nav .-center {
    width: 100%;
    max-width: fit-content;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#nav .-search-input {
    height: 100%;
    width: 100%;
    padding: 0;
    border: none;
    padding-left: 1rem;
}
#nav .-search {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 40px;
    justify-content: space-between;
    align-items: center;
}
#nav .-button {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border-radius: 0 40px 40px 0;
    border: 1px solid #ccc;
    border-left: 0;
    cursor: pointer;
}
#nav .-search-box {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 40px 0 0 40px;
    overflow: hidden;
}
#nav .-search-input:focus-visible {
    outline: none;
}
@media (max-width: 768px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }
    #nav .-center {
        width: 100%;
        padding: 0.5rem;
    }
    #nav .-search {
        grid-template-columns: 1fr 40px;
    }
    #nav .-search-box {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #nav .-center {
        padding: 0.5rem;
        width: 100%;
    }
    #nav .-search-input {
        padding-left: 0.5rem;
    }
}