#the-cards {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: auto auto auto auto;
    grid-gap: 70px;
    /* padding: 10px 50px; */
    padding-bottom: 30px;
    justify-content: center;
}
.card .-thumb img{
    width: 100%; /* กำหนดความกว้างให้เต็ม container */
    height: auto; /* ให้ความสูงของภาพปรับตามอัตราส่วน */
    max-width: 320px; /* กำหนดความกว้างสูงสุดของภาพ */
    border-radius: 8px; /* เพิ่มมุมโค้งให้กับภาพ */
}
.card .-name {
    font-size: 25px;
    font-weight: 100;
}

#break-fast .-thumb{
    cursor: pointer;
}
