#the-cards {
    /* display: grid;
    
    grid-template-columns: auto auto auto auto;
    grid-gap: 70px;

    padding-bottom: 30px;
    justify-content: center; */
    text-align: center;
}
.card .-thumb img{
    width: 100%; 
    height: auto; 
    max-width: 320px; 
    border-radius: 8px; 
}
.card .-name {
    font-size: 17px;
    font-weight: 500;
}

#content .-thumb{
    cursor: pointer;
}